<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="LRDB" value="SERVER=localhost;DATABASE=lr_db;UID=lr_db;PASSWORD=admin;"/>
    <add key="CloudCon" value="SERVER=13.91.48.207;port=3306;DATABASE=lr_db;UID=lr_db;PASSWORD=admin;"/>
    <add key="svcEndpoint" value="http://localhost/angular/services/WebInfoDataService.svc/"/>-->
  </appSettings>
  <connectionStrings>
    <add name="LRDB" connectionString="SERVER=localhost;DATABASE=lr_db;UID=lrcloud-u;PASSWORD=coyote1989;"/>
  </connectionStrings>
 
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
</configuration>
