<!-- Register -->
<div class="container">
    <div ng-controller="loginCtrl">
        <div id="l-register" >
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username" id="username">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address" id="email">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password" id="password">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" id="signedin">
                    <i class="input-helper"></i>
                    Accept the license agreement
                </label>
                <label>
                    <input type="checkbox" value="" id="isAdmin">
                    <i class="input-helper"></i>
                    IsAdmin
                </label>
            </div>

            <a href="" class="btn btn-login btn-danger btn-float" id="adduser"><i class="zmdi zmdi-arrow-forward"></i></a>
        </div>
    </div>
</div>
